.content {
  margin-top: 40px;
  height: 100%;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
  display: block;
}



/* Space out content a bit */
body {
  padding-top: 20px;
}

html, body {
   height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-family: "Avenir", "Proxima Nova", "Museo Sans", Helvetica, Arial, sans-serif;
  text-align: center;
}

/* mateo */
.container {
  height: 100%;
}

.fullHeight {
  height: 100%;
}

.bikeButton {
  background: url('../img/brand/bike-grey.png') no-repeat left center;
  background-origin: content-box;
  padding-left: 15px;
  padding-top: 17px;
  height: 48px;
  cursor: pointer;
}

.bikeButton:hover {
  background: url('../img/brand/bike-white.png') no-repeat left center;
  background-origin: content-box;
}


/* Customize container */
/* mateo - added these */
@media (min-width: 400px) {
  .container {
    max-width: 730px;
  }
  body {
    padding-bottom: 66px;
  }
  .content {
    margin-bottom: 0;
  }
  .footer {
    padding-top: 4px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  body {
    padding-bottom: 96px;
  }
  .content {
    margin-bottom: 6px;
  }
  .footer {
    padding-top: 13px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
  body {
    padding-bottom: 100px;
  }
  .content {
    margin-bottom: 9px;
  }
  .footer {
    padding-top: 12px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  body {
    padding-bottom: 112px;
  }
  .content {
    margin-bottom: 9px;
  }
  .footer {
    padding-top: 19px;
  }
}

/* mateo
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
*/
.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 1069px;
  height: 300px
}


.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
    line-height: 18px;
    width:110px;
    border-radius: 5px;
    color: #555;
}

.legend i {
    color: #777;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
